</div>
<div class="nk-gap-4"></div>

<!-- START: Footer -->
<footer class="nk-footer">

    <div class="nk-copyright">
        <div class="container">
            <div class="nk-copyright-left">
                Template HTML par <a target="_blank" href="https://www.templateshub.net">Templates Hub</a>
            </div>
            <div class="nk-copyright-right">
                <ul class="nk-social-links-2">
                    {% for entry in site.socials %}
                        <li><a class="nk-social-{{ entry.css_class_suffix }}" href="{{ entry.url }}"><span class="fa fa-{{ entry.css_class_suffix }}"></span></a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- END: Footer -->


</div>




<!-- START: Page Background -->

<img class="nk-page-background-top" src="{{ site.baseurl }}/assets/images/bg-top.png" alt="">
<img class="nk-page-background-bottom" src="{{ site.baseurl }}/assets/images/bg-bottom.png" alt="">

<!-- END: Page Background -->

<!-- START: Scripts -->

<!-- Object Fit Polyfill -->
<script src="{{ site.baseurl }}/assets/vendor/object-fit-images/dist/ofi.min.js"></script>

<!-- GSAP -->
<script src="{{ site.baseurl }}/assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/gsap/src/minified/plugins/ScrollToPlugin.min.js"></script>

<!-- Popper -->
<script src="{{ site.baseurl }}/assets/vendor/popper.js/dist/umd/popper.min.js"></script>

<!-- Bootstrap -->
<script src="{{ site.baseurl }}/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Sticky Kit -->
<script src="{{ site.baseurl }}/assets/vendor/sticky-kit/dist/sticky-kit.min.js"></script>

<!-- Jarallax -->
<script src="{{ site.baseurl }}/assets/vendor/jarallax/dist/jarallax.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/jarallax/dist/jarallax-video.min.js"></script>

<!-- imagesLoaded -->
<script src="{{ site.baseurl }}/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- Flickity -->
<script src="{{ site.baseurl }}/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>

<!-- Photoswipe -->
<script src="{{ site.baseurl }}/assets/vendor/photoswipe/dist/photoswipe.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/photoswipe/dist/photoswipe-ui-default.min.js"></script>

<!-- Jquery Validation -->
<script src="{{ site.baseurl }}/assets/vendor/jquery-validation/dist/jquery.validate.min.js"></script>

<!-- Jquery Countdown + Moment -->
<script src="{{ site.baseurl }}/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/moment/min/moment.min.js"></script>
<script src="{{ site.baseurl }}/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>

<!-- Hammer.js -->
<script src="{{ site.baseurl }}/assets/vendor/hammerjs/hammer.min.js"></script>

<!-- NanoSroller -->
<script src="{{ site.baseurl }}/assets/vendor/nanoscroller/bin/javascripts/jquery.nanoscroller.js"></script>

<!-- SoundManager2 -->
<script src="{{ site.baseurl }}/assets/vendor/soundmanager2/script/soundmanager2-nodebug-jsmin.js"></script>

<!-- Seiyria Bootstrap Slider -->
<script src="{{ site.baseurl }}/assets/vendor/bootstrap-slider/dist/bootstrap-slider.min.js"></script>

<!-- Summernote -->
<script src="{{ site.baseurl }}/assets/vendor/summernote/dist/summernote-bs4.min.js"></script>

<!-- nK Share -->
<script src="{{ site.baseurl }}/assets/plugins/nk-share/nk-share.js"></script>

<!-- GoodGames -->
<script src="{{ site.baseurl }}/assets/js/goodgames.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/goodgames-init.js"></script>
<!-- END: Scripts -->



</body>

</html>