{% include header.html %}
<div class="row vertical-gap">
    <div class="col-lg-8">
        <!-- START: Post -->
        <div class="nk-blog-post nk-blog-post-single">
            <!-- START: Post Text -->
            <div class="nk-post-text mt-0">
                <div class="nk-post-img">
                    <img src="{{ site.baseurl }}/{{ page.image }}" alt="">
                </div>
                <div class="nk-gap-1"></div>
                <h1 class="nk-post-title h4">{{ page.title }}</h1>
                <div class="nk-post-by">
                    <img src="{{ site.baseurl }}/assets/images/avatar-tech-mayhem.png" alt="Tech Mayhem" class="rounded-circle" width="35"> par <a href="#">Tech Mayhem</a>, le {{ page.date | date: "%d/%m/%Y" }}
                    <div class="nk-post-categories">
                        {% for category in page.categories %}
                        <span class="bg-main-{{ forloop.index }}">{{ category }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="nk-gap"></div>
                {{ page.content }}
            </div>
        <!-- END: Post -->
        </div>
    </div>
    <div class="col-lg-4">
        <!--
            START: Sidebar

            Additional Classes:
                .nk-sidebar-left
                .nk-sidebar-right
                .nk-sidebar-sticky
        -->
        <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
<div class="nk-widget nk-widget-highlighted">
<h4 class="nk-widget-title"><span><span class="text-main-1">We</span> Are Social</span></h4>
<div class="nk-widget-content">
    <!--
        Social Links 3

        Additional Classes:
            .nk-social-links-cols-5
            .nk-social-links-cols-4
            .nk-social-links-cols-3
            .nk-social-links-cols-2
    -->
    <ul class="nk-social-links-3 nk-social-links-cols-5">
        {% for entry in site.socials %}
            <li><a class="nk-social-{{ entry.css_class_suffix }}" href="{{ entry.url }}"><span class="fa fa-{{ entry.css_class_suffix }}"></span></a></li>
        {% endfor %}
    </ul>
</div>
</div>
        </aside>
        <!-- END: Sidebar -->
    </div>
</div>
</div>

<div class="nk-gap-2"></div>
{% include footer.html %}